/* @import "~@flaticon/flaticon-uicons/css/solid/all"; */
/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"); */

@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://daehani.github.io//assets/fonts/Pretendard-ExtraBold.woff");
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://daehani.github.io//assets/fonts/Pretendard-Bold.woff");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://daehani.github.io//assets/fonts/Pretendard-Medium.woff");
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://daehani.github.io//assets/fonts/Pretendard-Regular.woff");
}

html {
  font-size: 19px;
  font-family: "Pretendard-Regular", serif;
  background: #5D555640;
  color: #181818;
}

body {
  font-family: "Pretendard-Regular", serif;
  /* font-family: "Gowun Batang", serif; */
  font-weight: 400;
  font-style: normal;
}

#root {
  /*
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  */
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;

  overflow-x: hidden;
  overflow-y: scroll;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#root::-webkit-scrollbar {
  display: none;
}

.main {
  max-width: 480px;
  position: absolute;
  background: white;
  width: 100%;
  text-align: center;
  /* background: linear-gradient(90deg, #fcfcfc 9px, transparent 1%) center, linear-gradient(#fcfcfc 9px, transparent 1%) center, #e8e8e8ff; */
  /* background-size: 10px 10px; */
}

.main .intro {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* height: 560px; */
  display: flex;      /* Flexbox 레이아웃 적용 */
  flex-direction: column; /* 자식 요소를 수직으로 정렬 */
  align-items: stretch; /* 자식 요소를 부모의 너비에 맞춤 (가로 방향) */
}

.main .intro .image {
  width: 100%;
  display: block;     /* 이미지가 inline 대신 block 요소로 처리 */
}

/* .main .intro .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(0deg, white 0%, #ffffff80 5%, transparent 10%);
} */

.main .border {
  position: absolute;
  left: 1rem;
  right: 1rem;
  top: 1rem;
  bottom: 1rem;
}

/* .main .context .abstract {
  margin: 2rem 0 6rem 0;
} */

.main .header .abstract {

  display: flex;
  flex-direction: column;
  justify-content: start;

  margin: 3rem 0 2rem 0;
}

.main .header .abstract .mark {
  font-size: 0.5rem;
  letter-spacing: 0.2rem;
  color: #181818;
  margin: 0 0 0.5rem 0;
}

.main .header .abstract .who .line {
  margin: 0 1.1rem;
  width: 1px;
  padding: 0.35rem 0;
}

.main .header .abstract .who .line .stroke {
  width: 1px;
  height: 100%;
  background: #00000070;
}

/* .main .abstract div {
  display: flex;
  justify-content: center;
} */

/* .main .context .abstract .who {
  color: #181818;
  font-size: 2.4rem;
  margin: 0 0 0.5rem 0;

  font-family: "Francisco", "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;  
}

.main .context .abstract .when, .context .main .abstract .where {
  color: #181818;
  font-size: 1.1rem;
  padding: 0.2rem 0;
}

.main .context .abstract .where {
  font-size: 1.1rem;
  margin: 0 0 2rem 0;
} */

/* .main .context {
  text-align: center;
  padding: 0 3rem 3rem 3rem;
} */

.image-intro {
  height: 40vmin;
  pointer-events: none;
}

.category {
  font-size: 1.1rem;
  font-weight: 400;
  color: #ff2b76;
  /* background: -webkit-linear-gradient(left, #B08E82, #E5CACC);
  background: -o-linear-gradient(right, #B08E82, #E5CACC);
  background: -moz-linear-gradient(right, #B08E82, #E5CACC);
  background: linear-gradient(to right, #B08E82, #E5CACC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  margin: 3rem 0 3rem 0;
}

.contents {
  line-height: 0.5rem;
}

.font-script {
  font-family: "Pretendard-ExtraBold", cursive;
  /* font-family: "Great Vibes", cursive; */
  font-weight: 400;
  font-style: normal;
}

.invitation {
  width: 100%;
  margin: 0 0 6rem 0;
}

.invitation .category {
  margin: 5.5rem 0 1.5rem 0;
  font-family: "Pretendard-Bold", serif;
}

.invitation .contents-where {
  line-height: 0.5rem;
  font-family: "Pretendard-Medium", serif;
}

.location {
  width: 100%;               /* 컨테이너의 너비 */
  height: 670px;             /* 컨테이너의 높이 */
  background-image: url("../../../public/assets/photos/tree.png"); /* 배경 이미지 URL */
  background-size: cover;    /* 이미지가 컨테이너 전체를 커버하도록 조절 */
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location .category1 {
  position: absolute;
  top: 70px;
  text-align: center;
  font-family: "Pretendard-ExtraBold";
  color: #ffffff;
  font-size: 1.1rem;
}

.location .category2 {
  position: absolute;
  top: 100px;
  text-align: center;
  font-family: "Pretendard-ExtraBold";
  color: #ffffff;
  font-size: 1.1rem;
}

.location .contents1 {
  position: absolute;
  top: 140px;
  text-align: center;
  font-family: "Pretendard-Medium";
  color: #ffffff;
}
.location .contents2 {
  position: absolute;
  top: 165px;
  text-align: center;
  font-family: "Pretendard-Medium";
  color: #ffffff;
}
.location .contents3 {
  position: absolute;
  top: 200px;
  text-align: center;
  font-family: "Pretendard-Medium";
  color: #ffffff;
  font-size: 0.8rem;
}
.location .overlay {
  position: absolute;
  top: 240px;
  left: 40px;
  display: flex;
  max-width: 90%;  /*이미지의 최대 너비를 컨테이너 너비의 90%로 제한*/
}

.location2 {
  background: #ff2b76;
  width: 100%;
  height: 950px;
  text-align: center;
}
.location2 .category1 {
  color: #ffffff;
  font-family: "Pretendard-ExtraBold";
  font-size: 1.1rem;
  margin: 3rem 0 0rem 0;
}
.location2 .category2 {
  color: #ffffff;
  font-family: "Pretendard-ExtraBold";
  font-size: 1.1rem;
  margin: 0.4rem 0 1.5rem 0;
}
.location2 .contents2 {
  color: #ffffff;
  font-family: "Pretendard-Medium";
  line-height: 0.5rem;
}
.location2 .contents3 {
  color: #ffffff;
  font-family: "Pretendard-Medium";
  font-size: 0.8rem;
  line-height: 0.5rem;
  margin: 1.5rem 0 2rem 0;
}
.location2 .maps-container {
  display: flex;
  position: relative;
  justify-content: center;  /* 가로 가운데 정렬 */
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
}
.location2 .video-container {
  /* position: absolute;
  top: 600px;
  left: 40px; */
  /* max-width: 90%; */
  /* margin: 0 0 0 20px; */
  /* text-align: center; */
  /* display: flex; */
  position: relative;
  width: 100%;
  max-width: 95%;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  height: 0;
  margin: 0 auto;
}

.video-container iframe, .video-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


.maps {
  position: relative;  /* relative로 변경해서 일반적인 정렬 방식을 사용 */
  /* width: auto;         필요에 따라 크기를 조정 */
  /* height: auto;        필요에 따라 크기를 조정 */
  margin: 0 -1rem 1.5rem -1rem;
}

.maps .map {
  width: 100%;
  aspect-ratio: calc(4/3);
}

.maps .map-simple {
  width: 100%;
  aspect-ratio: calc(4/3);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.maps .map-simple img {
  width: 100%;
}

.maps .controls {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 0 0 1rem 0;
}

.maps .links {
  display: flex;
  width: 100%;
  background: white;
  border: 1px solid #00000010;
  border-radius: 0rem;
}

.maps .links .link {
  display: flex;
  flex: 1 1;
  padding: 0.7rem 0.8rem;
  font-size: 0.875rem;
}

.maps .links .link .image {
  margin: 0 0.5rem 0 0;
  height: 100%;
  width: 1.5rem;
  position: relative;
  flex: 1 1;
}

.maps .links .link .image .inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.maps .links .link .image .inner img {
  width: 1rem;
  height: 1rem;
}

.maps .links .link .vendor {
  flex: 6 1;
}

.maps .links .divider {
  flex: 0 1;
  width: 1px;
  padding: 0.7rem 0;
}

.maps .links .divider .stroke {
  width: 1px;
  background: #00000010;
  height: 100%;
}

input[type="button"], .copy-button {
  background: white;
  outline: none;
  border: 1px solid #00000018;
  color: #000000a0;
  box-shadow: none;
  border-radius: 0.3rem;
  padding: 0.3rem 0.8rem;
  font: inherit;
  font-size: 0.875rem;
  cursor: pointer;
}

input[type="button"]:disabled {
  background: #00000020;
  color: #ffffffff;
}

.information {
  text-align: center;
  margin: 0 0 6rem 0;
}

.information .container {
  margin: 0 0 3rem 0;
}

.information .container .subtitle {
  font-size: 1rem;
  font-family: "Pretendard-Bold", serif;
  color: #ff2b76;
  margin: 1rem 0 0.8rem 0;
  /* background: -webkit-linear-gradient(left, #B08E82, #E5CACC);
  background: -o-linear-gradient(right, #B08E82, #E5CACC);
  background: -moz-linear-gradient(right, #B08E82, #E5CACC);
  background: linear-gradient(to right, #B08E82, #E5CACC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.information .container .item {
  font-size: 1rem;
  padding: 0;
  margin: 0.25rem 0 0.25rem 0;
}
.information .container .item .inner {
  font-size: 0.8rem;
  color: #00000080;
  line-height: 2.2rem;
  padding: 0;
  margin: 0 0 0 0;
}

.tail {
  color: #000000;
}

.tail .contents {
  font-family: "Pretendard-Bold";
  color: #ff2b76;
}


.main .main-overlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 30;
  background: #000000a0;
  backdrop-filter: blur(0.8rem);
}

.main .main-overlay.visible {
  /* display: block; */
}